/* .main-pane {
  border-left: 1px solid var(--sl-color-green);
  border-right: 1px solid var(--sl-color-green);
  padding: 0;
} */

/* header.header {
  border-bottom: 1px solid var(--sl-color-green-low);
} */